<div>
  <div class="row control-box">
    <div class="col-lg-8">
      <div class="form-group search-box">
        <app-search-box (searchChange)="onSearchChanged($event)" placeholder="{{'todoBankAccounts.management.Search' | translate}}"></app-search-box>
      </div>
    </div>
    <div class="col-lg-4">
      <ul class="nav flex-column flex-lg-row">
        <li class="nav-item toolbaritem">
          <a class="nav-link" href="javascript:;" (click)="addTask()"><i class="fa fa-plus"></i> {{'todoBankAccounts.management.AddTask' | translate}}</a>
        </li>
      </ul>
    </div>
  </div>
  <ngx-datatable class="material colored-header sm table-hover"
                 [loadingIndicator]="loadingIndicator"
                 [rows]="rows"
                 [rowHeight]="35"
                 [headerHeight]="35"
                 [footerHeight]="35"
                 [columns]="columns"
                 [scrollbarV]="verticalScrollbar"
                 [columnMode]="'force'">
  </ngx-datatable>

  <!--<ng-template #statusHeaderTemplate>
    <i class="fa fa-check-square-o"></i>
  </ng-template>-->
  <!--<ng-template #statusTemplate let-row="row" let-value="value">
    <div class="form-check">
      <input class="form-check-input" attr.name="checkboxes-{{value}}" type="checkbox" [(ngModel)]="row.completed">
      <label class="form-check-label"></label>
    </div>
  </ng-template>-->

  <ng-template #nameTemplate let-row="row" let-value="value">
    <span *ngIf="!editing[row.$$index + '-name']" class="inline-label" [class.completed]="row.completed">
      {{value}}
    </span>
    <!--<input *ngIf="editing[row.$$index + '-name']" class="inline-editor" appAutofocus (blur)="updateValue($event, 'name', value, row)" type="text" [value]="value" />-->
  </ng-template>

  <ng-template #descriptionTemplate let-row="row" let-value="value">
    <span *ngIf="!editing[row.$$index + '-description']" class="inline-label" [class.completed]="row.completed">
      {{value}}
    </span>
    <!--<input *ngIf="editing[row.$$index + '-description']" class="inline-editor" appAutofocus (blur)="updateValue($event, 'description', value, row)" type="text" [value]="value" />-->
  </ng-template>

  <ng-template #createdonTemplate let-row="row" let-value="value">
    <span *ngIf="!editing[row.$$index + '-createdon']" class="inline-label" [class.completed]="row.completed">
      {{value}}
    </span>
    <!--<input *ngIf="editing[row.$$index + '-description']" class="inline-editor" appAutofocus (blur)="updateValue($event, 'description', value, row)" type="text" [value]="value" />-->
  </ng-template>


  <ng-template #actionsTemplate let-row="row">

    <a class="btn btn-link btn-sm" href="javascript:;" tooltip="{{'todoBankAccounts.management.Edit' | translate}}" container="body" (click)="delete(row)"><i class="fa fa-edit"></i></a>
    <a class="btn btn-link btn-sm" href="javascript:;" tooltip="{{'todoBankAccounts.management.Delete' | translate}}" container="body" (click)="delete(row)"><i class="fa fa-trash"></i></a>

  </ng-template>





  <div class="modal fade" bsModal #editorModal="bs-modal" tabindex="-1">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title float-left"><i class="fa fa-tasks"></i> {{'todoBankAccounts.editor.NewTask' | translate}}</h4>
          <button type="button" class="close" title="Close" (click)="editorModal.hide()">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <form *ngIf="formResetToggle" name="taskEditorForm" #f="ngForm" novalidate
                (ngSubmit)="f.form.valid ? save() :
                      (showErrorAlert('Enter required fields', 'Enter required fields'));">


            <div class="form-group row">
              <label class="col-form-label col-md-3" for="taskAccountName">{{'todoBankAccounts.editor.AccountName' | translate}}:</label>
              <div class="col-md-9">
                <input appAutofocus type="text" id="taskAccountName" name="taskAccountName" placeholder="Enter Account Name" class="form-control" [ngClass]="{'is-valid': f.submitted && taskAccountName.valid, 'is-invalid' : f.submitted && !taskAccountName.valid}"
                       [(ngModel)]="taskEdit.AccountName" #taskAccountName="ngModel" required />
                <span *ngIf="f.submitted && !taskAccountName.valid" class="invalid-feedback">
                  {{'todoBankAccounts.editor.AccountNameRequired' | translate}}
                </span>
              </div>
            </div>

            <div class="form-group row">
              <label class="col-form-label col-md-3" for="taskAddress">{{'todoBankAccounts.editor.Address' | translate}}:</label>
              <div class="col-md-9">
                <input type="text" id="taskAddress" name="taskAddress" placeholder="Enter Address" class="form-control" [ngClass]="{'is-valid': f.submitted && taskAddress.valid, 'is-invalid' : f.submitted && !taskAddress.valid}"
                       [(ngModel)]="taskEdit.Address" #taskAddress="ngModel" required />
                <span *ngIf="f.submitted && !taskAddress.valid" class="invalid-feedback">
                  {{'todoBankAccounts.editor.AddressRequired' | translate}}
                </span>

              </div>
            </div>

            <div class="form-group row">

              <div class="col-md-6">
                <label class="col-form-label" for="taskCountry">{{'todoBankAccounts.editor.Country' | translate}}:</label>
                <!--<input type="text" id="taskCountry" name="taskCountry" placeholder="Enter Country" class="form-control" [ngClass]="{'is-valid': f.submitted && taskCountry.valid, 'is-invalid' : f.submitted && !taskCountry.valid}"
      [(ngModel)]="taskEdit.Country" #taskCountry="ngModel" required />-->
                <select id="taskCountry" #taskCountry="ngModel" [(ngModel)]="taskEdit.Country" name="taskCountry" class="form-control" (change)="onChangeCountry($event.target.value)">
                  <option *ngFor="let country of countryInfo; let i = index" value="{{country.CountryName}}">{{country.CountryName}}</option>
                </select>
                <span *ngIf="f.submitted && !taskCountry.valid" class="invalid-feedback">
                  {{'todoBankAccounts.editor.CountryRequired' | translate}}
                </span>
              </div>
              <div class="col-md-6">
                <label class="col-form-label" for="taskState">{{'todoBankAccounts.editor.State' | translate}}:</label>
                <!--<input type="text" id="taskState" name="taskState" placeholder="Enter State" class="form-control" [ngClass]="{'is-valid': f.submitted && taskState.valid, 'is-invalid' : f.submitted && !taskState.valid}"
      [(ngModel)]="taskEdit.State" #taskState="ngModel" required />-->
                <select id="taskState" [(ngModel)]="taskEdit.State" #taskState="ngModel" name="taskState" class="form-control" (change)="onChangeState($event.target.value)">
                  <!--<option *ngIf="stateInfo == ''" value="-1">--Select State--</option>-->
                  <option *ngFor="let state of stateInfo; let j = index" value="{{state.StateName}}">{{state.StateName}}</option>
                </select>
                <span *ngIf="f.submitted && !taskState.valid" class="invalid-feedback">
                  {{'todoBankAccounts.editor.StateRequired' | translate}}
                </span>

              </div>

            </div>

            <div class="form-group row">

              <div class="col-md-6">
                <label class="col-form-label" for="taskDOB">{{'todoBankAccounts.editor.DOB' | translate}}:</label>
                <input type="date" id="taskDOB" name="taskDOB" placeholder="Enter Date of Birth" class="form-control" [ngClass]="{'is-valid': f.submitted && taskDOB.valid, 'is-invalid' : f.submitted && !taskDOB.valid}"
                       [(ngModel)]="taskEdit.DOB" #taskDOB="ngModel" required />
                <span *ngIf="f.submitted && !taskDOB.valid" class="invalid-feedback">
                  {{'todoBankAccounts.editor.DOBRequired' | translate}}
                </span>
              </div>
              <div class="col-md-6">
                <label class="col-form-label" for="taskAge">{{'todoBankAccounts.editor.Age' | translate}}:</label>
                <input type="number" id="taskAge" name="taskAge" placeholder="Enter Age" class="form-control" [ngClass]="{'is-valid': f.submitted && taskAge.valid, 'is-invalid' : f.submitted && !taskAge.valid}"
                       [(ngModel)]="taskEdit.Age" #taskAge="ngModel" />
              </div>
              

            </div>
            <div class="form-group row">
              <div class="col-md-4">
                <label class="col-form-label" for="taskSex">{{'todoBankAccounts.editor.Sex' | translate}}:</label>

                <select class="form-control" id="taskSex" #taskSex="ngModel" [(ngModel)]="taskEdit.Sex" name="taskSex">
                  <option value="Male">Male</option>
                  <option value="Female">Female</option>
                </select>
              </div>
            </div>


              <div class="form-group row">
                <label class="col-form-label col-md-3" for="taskPhoneNo">{{'todoBankAccounts.editor.PhoneNo' | translate}}:</label>
                <div class="col-md-9">
                  <input type="tel" id="taskPhoneNo" name="taskPhoneNo" placeholder="Enter Phone No" class="form-control" [ngClass]="{'is-valid': f.submitted && taskPhoneNo.valid, 'is-invalid' : f.submitted && !taskPhoneNo.valid}"
                         [(ngModel)]="taskEdit.PhoneNo" #taskPhoneNo="ngModel" required />
                  <span *ngIf="f.submitted && !taskPhoneNo.valid" class="invalid-feedback">
                    {{'todoBankAccounts.editor.PhoneNoRequired' | translate}}
                  </span>

                </div>
              </div>

              <div class="form-group row">
                <label class="col-form-label col-md-3" for="taskContactEmail">{{'todoBankAccounts.editor.ContactEmail' | translate}}:</label>
                <div class="col-md-9">
                  <input type="email" id="taskContactEmail" name="taskContactEmail" placeholder="Enter Contact Email" class="form-control" [ngClass]="{'is-valid': f.submitted && taskContactEmail.valid, 'is-invalid' : f.submitted && !taskContactEmail.valid}"
                         [(ngModel)]="taskEdit.ContactEmail" #taskContactEmail="ngModel" required />
                  <span *ngIf="f.submitted && !taskContactEmail.valid" class="invalid-feedback">
                    {{'todoBankAccounts.editor.ContactEmailRequired' | translate}}
                  </span>

                </div>
              </div>

              <div class="form-group row">
                <label class="col-form-label col-md-3" for="taskAccountType">{{'todoBankAccounts.editor.AccountType' | translate}}:</label>
                <div class="col-md-9">
                  <!--<input type="text" id="taskAccountType" name="taskAccountType" placeholder="Enter Account Type" class="form-control" [ngClass]="{'is-valid': f.submitted && taskAccountType.valid, 'is-invalid' : f.submitted && !taskAccountType.valid}"
         [(ngModel)]="taskEdit.AccountType" #taskAccountType="ngModel" required />-->
                  <select id="taskAccountType" #taskAccountType="ngModel" [(ngModel)]="taskEdit.Country" name="taskAccountType" class="form-control">
                    <option *ngFor="let accountType of accountTypes; let i = index" value="{{accountType.id}}">{{accountType.accountTypeName}}({{accountType.accountTypeShortName}})</option>
                  </select>
                  <span *ngIf="f.submitted && !taskAccountType.valid" class="invalid-feedback">
                    {{'todoBankAccounts.editor.AccountTypeRequired' | translate}}
                  </span>

                </div>
              </div>

              <div class="form-group row">
                <label class="col-form-label col-md-3" for="taskAccountNumber">{{'todoBankAccounts.editor.AccountNumber' | translate}}:</label>
                <div class="col-md-9">
                  <input type="text" id="taskAccountNumber" name="taskAccountNumber" placeholder="Enter Account Number" class="form-control" [ngClass]="{'is-valid': f.submitted && taskAccountNumber.valid, 'is-invalid' : f.submitted && !taskAccountNumber.valid}"
                         [(ngModel)]="taskEdit.AccountNumber" #taskAccountNumber="ngModel" required />
                  <span *ngIf="f.submitted && !taskAccountNumber.valid" class="invalid-feedback">
                    {{'todoBankAccounts.editor.AccountNumberRequired' | translate}}
                  </span>

                </div>
              </div>




              <div class="row">
                <div class="col-md-12">
                  <hr class="edit-last-separator-hr" />
                </div>
              </div>


              <div class="form-group actionBtn-form-group">
                <div class="float-right">
                  <button type="submit" class="btn btn-primary">{{'todoBankAccounts.editor.AddTask' | translate}}</button>
                </div>
              </div>
              <div class="clearfix"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
